
# Python cache and compiled files
__pycache__/
*.pyc
.idea
# Environment and config
.env
.venv/
# System files
.DS_Store
Thumbs.db
# other files
About FoxChat.md
FoxChat more details.md
app.log
project directory structure.txt
what is under development.txt